/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.footer p {
  margin: 10px 0;
}

.mtop {
  margin-top: 10px;
}
.nw {
  white-space: nowrap;
}
.aw {
  width: auto;
}
.nav-tabs {
  margin-bottom: 20px;
}

.table .thumbnail {
  margin: 0;
}

.panel-footer .pagination {
  margin: 0;
}

.page-header {
  margin-top: 0;
  padding-bottom: 0;
}
.page-header h1 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.navbar-brand img {
  margin: -10px 2px -10px -5px;
}

.nav-center {
  position: absolute;
  left: 34.5%;
}
.logo {
  text-align: center;
  margin: 20px 0;
}

.center {
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f5f5f5; */
  /* height: 100%; */
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 900px;
  height: 450px;
}

.card-size {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 450px;
  /* height: 320px; */
}

.card {
  /* padding: 20px; */
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 5px;
  margin: auto;
}

.pad-card {
  padding: 20px;
}

.w-100 {
  width: 100%;
}

.nav-admin {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: #22a7f0;
  border-color: #22a7f0;
}
.btn-primary:hover {
  background: #3498db;
  border-color: #3498db;
}

.margin-top {
  margin-top: 30px;
}

.m-auto {
  margin: auto;
}

.devide {
  height: 40px;
}

.branding {
  padding-top: 90px !important;
  text-align: center;
}

.branding::after {
  content: "";
  width: 2px;
  height: 380px;
  position: absolute;
  top: 8%;
  left: 100%;
  background: #eee;
}

.p-5 {
  padding: 20px;
}

.split {
  padding: 50px;
}

.gray {
  background: #f3f6fa9a !important;
}

.form {
  padding-left: 80px;
  padding-right: 80px;
}

.form-control:focus {
  outline: 0;
  border-bottom: 3px solid #aaa !important;
  /* transition: 1s; */
}
.form-control {
  display: block;
  width: 100%;
  height: 39px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border-bottom: 1px solid #aaa !important;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  /* text-align: center; */
  border: none;
}

.form-margin {
  margin-bottom: 20px;
}

.tim-kandidat {
  /* display: block; */
  margin-bottom: -50px;
}

.nama-kandidat {
  margin: -30px 0;
  opacity: 0;
  /* display: none; */
}

.kandidat:hover {
  transform: scale(1.05);
  transition: ease 0.4s;
}

.kandidat:hover .tim-kandidat {
  /* transform: scale(2); */
  /* animation: 1s ; */
  /* display: none; */
  transition: 0.1s;
  opacity: 0;
  /* margin: -30px 0; */
  /* margin-left: 50px; */
  /* margin-right: 50px;  */
  /* height: 200px; */
}

.kandidat:hover .nama-kandidat {
  transition: ease 0.3s;
  margin: 30px 0 20px 0;
  opacity: 1;
  /* display: block; */
  /* animation: 1s ease; */
}
